body {
    background: #F7F8F9;
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#header {
    font-size: 2rem;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.grid {
    display: grid;
    gap: .25rem;
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
    justify-content: center;
    gap: .25rem;
}

.cell {
    display: flex;
    outline: solid;
    outline-width: thin;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cell-s {
    background: #D7C054;
}

.cell-m {
    background: #F7F8F9;
}

.cell-h {
    background: #B55459;
}